<h1>Продукты</h1>

<br>
<a href="{{ path('index') }}"><< Назад</a>
<br><br><br>

<table>
    <tr>
        <th>
            id
        </th>
        <th>
            Наименование
        </th>
        <th>
            Цена
        </th>
        <th>
            Действие
        </th>
    </tr>

    {% for item in products %}
        <tr id="product-{{ item.id }}">
            <td>
                {{ item.id }}
            </td>
            <td>
                {{ item.name }}
            </td>
            <td>
                <input type="number" value="{{ item.price }}" data-price-product-id="{{ item.id }}">
            </td>
            <td>
                <a href="{{ path('update', {'id': item.id}) }}" data-update-id="{{ item.id }}">Сохранить</a>
                <br>
                <a href="{{ path('delete', {'id': item.id}) }}" data-delete-id="{{ item.id }}">Удалить</a>
            </td>
        </tr>
    {% endfor %}
</table>
<br>

<a href="{{ path('create') }}">Создать новый продукт</a>

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="{{ asset('static/js/main.js') }}"></script>
{% endblock %}